`atlas migrate lint` on <strong>{{- .Env.Dir }}</strong>

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Step</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                {{- $fileCount := len .Files }}
                {{ $fileCount }} new migration file{{ if ne $fileCount 1 }}s{{ end }} detected
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                ERD and Visual Diff generated
            </td>
            <td>
                <a href="{{ .URL }}#erd" target="_blank">View Visualization</a>
            </td>
        </tr>
        <tr>
            {{- $errCount := fileErrors .}}
            {{- if gt $errCount 0 }}
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/error.svg"/>
                </div>
            </td>
            <td>
                {{ $errCount }} error{{ if gt $errCount 1}}s{{ end }} found
            </td>
            {{- else if .DiagnosticsCount }}
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/warning.svg"/>
                </div>
            </td>
            <td>
                {{ .DiagnosticsCount }} issue{{ if gt .DiagnosticsCount 1}}s{{ end }} found
            </td>
            {{- else}}
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                No issues found
            </td>
            {{- end }}
            <td>
                <a href="{{ .URL }}" target="_blank">Full Report</a>
            </td>
        </tr>
    </tbody>
</table>

<hr/>

*Migrations automatically reviewed with [Atlas](https://atlasgo.io)*