Running `atlas migrate apply` with **{{- .Dir }}** Directory, on `{{- .URL.URL }}`

### Migration Summary

{{- if .Pending }}
Migrating to version **{{ .Target }}**{{ with .Current }} from **{{ . }}**{{ end }} ({{ len .Pending }} migrations in total):
{{- else }}
- **No migration files to execute.**
{{- end }}

{{- if .Error }}
### ❌ Migration Failed
- **Error:** {{ .Error }}
{{- else if .Pending }}
### ✅ Migration Succeeded
{{- end }}

{{ if .Pending }}
{{ .Summary "" }}
{{- end }}

{{- $dir := .Dir }}
{{- if .Applied }}

### Applied Migrations

<table>
    <tr>
        <th>Status</th>
        <th>File Name</th>
        <th>Executed Statements</th>
        <th>Execution Time</th>
    </tr>
    {{- range .Applied }}
    <tr>
        <td>{{ if .Error }}❌ Failed{{ else }}✅ Succeeded{{ end }}</td>
        <td>{{ .File.Name }}</td>
        <td>{{ len .Applied }}</td>
        <td>{{ execTime .Start .End }}</td>
    </tr>
    {{- end }}
</table>

{{- end }}

{{- if .Applied }}

<details>

<summary><h3>SQL Statements</h3></summary>

```sql
{{- range .Applied }}

-- File: {{ .File.Name }}

{{- $err := .Error }}
{{- range .Applied }}
{{- if and $err ( eq $err.SQL . ) }}
-- {{ $err.Error }}
{{- end }}
{{ . }}
{{- end }}

{{- end }}
```

</details>
{{- end }}
