{{- define "lint-report" -}}
{{- with .URL }}
| {{- template "lint-check" "success.svg" -}} | ERD and visual diff generated | {{ printf "%s#erd" . | link "View Visualization" }} |
{{- end }}
{{- with (.Steps | filterIssues) -}}
  {{- range $step := . -}}
| {{ template "lint-check" (or (and ($step | stepIsError) "error.svg") "warning.svg") }} | {{ printf "%s\n%s" $step.Name $step.Text }} | {{ if and $step.Error (not $step.Result) -}}
        {{- $step.Error -}}
      {{- else if $step.Result -}}
        {{- range $step.Result.Reports -}}
          {{- with .Text -}}<b>{{ . | firstUpper }}</b><br/>{{- end -}}
          {{- range .Diagnostics -}}
            {{- .Text -}}
            {{- with .Code -}}
              &nbsp;{{- printf "https://atlasgo.io/lint/analyzers#%s" . | link (printf "(%s)" . ) -}}
            {{- end -}}
            <br/>
          {{- end -}}
        {{- end -}}
      {{- end -}} |
  {{- end -}}
{{- else }}
| {{ template "lint-check" "success.svg" }} | No issues found | {{ and .URL (link "View Report" .URL) }} |
{{- end }}
{{ with .URL }}
| Read the full linting report on {{ . | link "Atlas Cloud" -}} |||
{{ end }}
{{- end -}}
{{- define "lint-check" -}}
{{- assetsImage . | image "20px" -}}
{{- end -}}