{{- define "lint-report" -}}
{{- with .URL -}}
    <tr>
      {{- template "lint-check" "success.svg" -}}
      <td>ERD and visual diff generated</td>
      <td>
        {{- printf "%s#erd" . | link "View Visualization" -}}
      </td>
    </tr>
{{- end -}}
{{- with (.Steps | filterIssues) -}}
  {{- range $step := . -}}
    <tr>
      {{- template "lint-check" (or (and ($step | stepIsError) "error.svg") "warning.svg") -}}
      <td>{{- $step.Name -}}<br/>{{- $step.Text -}}</td>
      <td>
      {{- if and $step.Error (not $step.Result) -}}
        {{- $step.Error -}}
      {{- else if $step.Result -}}
        {{- range $step.Result.Reports -}}
          {{- with .Text -}}<b>{{ . | firstUpper }}</b><br/>{{- end -}}
          {{- range .Diagnostics -}}
            {{- .Text -}}
            {{- with .Code -}}
              &nbsp;{{- printf "https://atlasgo.io/lint/analyzers#%s" . | link (printf "(%s)" . ) -}}
            {{- end -}}
            <br/>
          {{- end -}}
        {{- end -}}
      {{- end -}}
      </td>
    </tr>
  {{- end -}}
{{- else -}}
    <tr>
      {{- template "lint-check" "success.svg" -}}
      <td>No issues found</td>
      <td>{{- with .URL }}{{ . | link "View Report" }}{{- end -}}</td>
    </tr>
{{- end -}}
{{- with .URL -}}
    <tr><td colspan="4"><div align="center">Read the full linting report on {{ . | link "Atlas Cloud" -}}</div></td></tr>
{{- end -}}
{{- end -}}
{{- define "lint-check" -}}
<td><div align="center">{{- assetsImage . | image "20px" -}}</div></td>
{{- end -}}