`atlas migrate lint` on <strong>{{- .Env.Dir }}</strong>

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Step</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                {{- $fileCount := len .Files }}
                {{ $fileCount }} new migration file{{ if ne $fileCount 1 }}s{{ end }} detected
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                ERD and visual diff generated
            </td>
            <td>
                <a href="{{ .URL }}#erd" target="_blank">View Visualization</a>
            </td>
        </tr>
        {{- if not (hasComments .) }}
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                No issues found
            </td>
            <td>
                <a href="{{ .URL }}" target="_blank">View Report</a>
            </td>
        </tr>
        {{- end }}
    {{- if hasComments . }}
    {{- range $file := .Files }}
        {{- $hasError := $file.Error }}
        <tr>
            <td>
                {{- if $hasError }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/error.svg"/>
                </div>
                {{- else }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/warning.svg"/>
                </div>
                {{- end }}
            </td>
            <td>
                Analyze {{ $file.Name }}
             {{- if $hasError }}
                <br/> Error was found
            {{- else }}
                {{- $diagnostocs := fileDiagnosticCount $file }}
                {{- if gt $diagnostocs 0 }}
                <br/>{{ $diagnostocs }} issue{{ if gt $diagnostocs 1 }}s{{ end }} {{ if gt $diagnostocs 1 }}were{{ else }}was{{ end }} found
                {{- end }}
            {{- end }}
            </td>
            <td>
            {{- if $hasError }}
                {{ $file.Error }}
            {{- else }}
                {{- range .Reports }}
                {{- range .Diagnostics }}
                {{ .Text }} <a href="https://atlasgo.io/lint/analyzers#{{ .Code }}" target="_blank">({{ .Code }})</a> <br/>
                {{- end }}
                {{- end }}
            {{- end }}
            </td>
        </tr>
    {{- end }}

    {{- range $step := .Steps }}
        {{- if stepHasComments $step }}
        <tr>
            <td>
                {{- $hasError := $step.Error }}
                {{- if $hasError }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/error.svg"/>
                </div>
                {{- else }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/warning.svg"/>
                </div>
                {{- end }}
            </td>
            <td>
                {{ $step.Name }}
            </td>
            <td>
            {{- if $hasError }}
                {{ $step.Error }}
            {{- else if $step.Result }}
                {{- range $step.Result.Reports }}
                {{- range .Diagnostics }}
                {{ .Text }} <br/>
                {{- end }}
                {{- end }}
            {{- end }}
            </td>
        </tr>
        {{- end }}
    {{- end }}
    {{- end }}
    <td colspan="4">
        <div align="center">
            Read the full linting report on <a href="{{ .URL }}" target="_blank">Atlas Cloud</a>
        </div>
    </td>
    </tbody>
</table>
