`atlas migrate lint` on <strong>{{- .Env.Dir }}</strong>

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Step</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                {{- $fileCount := len .Files }}
                {{ if $fileCount }}{{ $fileCount }} new{{ else }}No{{ end }} migration file{{ if ne $fileCount 1 }}s{{ end }} detected
            </td>
            <td>{{ if not .Files }}&nbsp;{{ else }}{{ range $i, $f := .Files }}{{ if $i }}<br/>{{ end }}{{ $f.Name }}{{ end }}{{ end }}
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                ERD and visual diff generated
            </td>
            <td>
                <a href="{{ .URL }}#erd" target="_blank">View Visualization</a>
            </td>
        </tr>
        {{- if not (hasComments .) }}
        <tr>
            <td>
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/success.svg"/>
                </div>
            </td>
            <td>
                No issues found
            </td>
            <td>
                <a href="{{ .URL }}" target="_blank">View Report</a>
            </td>
        </tr>
        {{- end }}
    {{- if hasComments . }}
    {{- range $step := .Steps }}
        {{- if stepHasComments $step }}
        <tr>
            <td>
                {{- if stepHasErrors $step }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/error.svg"/>
                </div>
                {{- else }}
                <div align="center">
                    <img width="20px" height="21px" src="https://release.ariga.io/images/assets/warning.svg"/>
                </div>
                {{- end }}
            </td>
            <td>
                {{ $step.Name }} <br/> {{ $step.Text }}
            </td>
            <td>
            {{- if and $step.Error (not $step.Result) }}
                {{ $step.Error }}
            {{- else if $step.Result }}
                {{- range $step.Result.Reports }}
                {{- range .Diagnostics }}
                {{ .Text }} {{- if .Code }} <a href="https://atlasgo.io/lint/analyzers#{{ .Code }}" target="_blank">({{ .Code }})</a> {{- end }}<br/>
                {{- end }}
                {{- end }}
            {{- end }}
            </td>
        </tr>
        {{- end }}
    {{- end }}
    {{- end }}
    <td colspan="4">
        <div align="center">
            Read the full linting report on <a href="{{ .URL }}" target="_blank">Atlas Cloud</a>
        </div>
    </td>
    </tbody>
</table>
