`atlas migrate lint` on *{{ if eq .Env.Dir "." }}working directory{{ else }}{{ .Env.Dir }}{{ end }}*
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Step</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{- template "lint-check" "success.svg" -}}</td>
      <td>
        {{- $fileCount := len .Files -}}
        {{- if eq $fileCount 1 -}}
        1 new migration file detected
        {{- else if $fileCount -}}
        {{- $fileCount }} new migration files detected
        {{- else -}}
        No migration files detected
        {{- end -}}
      </td>
      <td>
        {{- with .Files -}}
          {{- range $i, $f := . -}}
          {{- if $i -}}<br/>{{- end -}}{{- $f.Name -}}
          {{- end -}}
        {{- else -}}
          &nbsp;
        {{- end -}}
      </td>
    </tr>
{{- template "lint-report" . -}}
  </body></table>