{{- template "migrate-header" . -}}
<h4><code>atlas schema apply</code> Summary:</h4>
{{- with .Plan -}}
<table>
  <tr>
    <td>Database URL</td>
    <td><code>{{ $.URL }}</code></td>
  </tr>
  {{- with .File -}}
  <tr>
    <td>Plan Name</td>
    <td><code>{{ .Name }}</code></td>
  </tr>
  <tr>
    <td>From Hash</td>
    <td><code>{{ .FromHash }}</code></td>
  </tr>
  <tr>
    <td>To Hash</td>
    <td><code>{{ .ToHash }}</code></td>
  </tr>
    {{- if .URL -}}
  <tr>
    <td>Plan URL</td>
    <td>
      {{- $planURL := printf "<code>%s</code>" .URL -}}
      {{- with .Link -}}
        {{- . | link $planURL -}}
      {{- else -}}
        {{- $planURL -}}
      {{- end -}}
    </td>
  </tr>
    {{- end -}}
    {{- with .Status -}}
  <tr><td>Plan Status</td><td>{{ . }}</td></tr>
    {{- end -}}
  {{- end -}}
  {{- with $.Error -}}
  <tr><td>Error</td><td>{{ . }}</td></tr>
  {{- else -}}
  <tr>
    <td>Total Time</td>
    <td>{{ execTime $.Start $.End }}</td>
  </tr>
  {{- end -}}
</table>
  {{- if $.Applied -}}
    {{- template "applied-file" $.Applied -}}
  {{- end -}}
  {{- $kind := or (and .File.URL "Pre-planned SQL") "SQL" -}}
  {{- .File.Migration | codeblock "sql" | details (printf "📄 View %s Statements" $kind) -}}
  {{- with .Lint -}}
<h4>Atlas lint results</h4>
    {{- template "lint-report" . -}}
  {{- end -}}
{{/* Fallback to the old output */}}
{{- else with .Changes -}}
  {{- with .Error -}}
The following SQL statement failed to execute:
    {{- .Stmt | codeblock "sql" -}}
<br>Database returned the following error:
    {{- .Text | codeblock "" -}}
  {{- end -}}
  {{- with .Applied -}}
    {{- join . "\n" | codeblock "sql" | details "📄 Succeeded SQL Applied" -}}
  {{- end -}}
  {{- with .Pending -}}
    {{- join . "\n" | codeblock "sql" | details "📄 Pending SQL statements" -}}
  {{- end }}
{{- end -}}
