<h3> Schema Lint Report</h3>
{{ if and .Steps (gt (len .Steps) 0) }}
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Rule</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>{{ range $step := .Steps }}
    <tr>
      <td>
        <div align="center">
          {{- template "lint-check" "error.svg" -}}
        </div>
      </td>
      <td><b>{{ $step.Text | firstUpper }}</b></td>
      <td>{{ range $diag := $step.Diagnostics}}
        {{ $diag.Text }}{{ if $diag.Code }} <a href="https://atlasgo.io/lint/analyzers#{{ $diag.Code }}" target="_blank">({{ $diag.Code }})</a>{{ end }}<br/>{{ end }}
      </td>
    </tr>{{ end }}
  </tbody>
</table>{{ else }}
<div align="center">
  {{- template "lint-check" "success.svg" -}}
  <br/>
  <b>Success</b> — No issues found, your schema is valid! 🎉
</div>
{{ end }}