<h3>Atlas detected changes to the desired schema</h3>
{{- with .Plan.File }}
<h4>Migration Plan for <a href="{{- .Link | repoLink -}}" target="_blank">{{ $.Plan.Repo }}</a> • <a href="{{- .Link -}}" target="_blank">View on Atlas Cloud</a></h4>
{{- with .Migration }}{{ codeblock "sql" . }}{{- end -}}
{{- end -}}
<h4>Atlas lint results</h4>
{{- template "schema-lint" . -}}
<hr>
<details>
<summary>📝 Steps to edit this migration plan</summary>

{{ template "plan-modify/md" .Plan.File }}
{{- if .RerunCommand }}
4\. Re-trigger the `schema/plan` action to update this comment:
```bash
{{ .RerunCommand }}
```
{{- end }}

</details>
{{- define "schema-lint" -}}
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Step</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
  {{- with .Plan.File -}}
    <tr>
      <td><div align="center">{{- template "lint-check" "success.svg" -}}</div></td>
      <td>Detect schema changes</td><td>{{ stmtsDetected . }}</td>
    </tr>
  {{- end -}}
  {{- template "lint-report" .Plan.Lint -}}
  </tbody></table>
{{- end -}}
