name: Atlas Action Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  sanity:
    strategy:
      matrix:
        directory: [ migrations, migrations2 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - name: init migrations folder
        run: mkdir -p ${{ matrix.directory }}
      - uses: ./
        with:
          dev-url: sqlite://test?mode=memory&cache=shared&_fk=1
          dir: ${{ matrix.directory }}
  shim-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ariga/setup-atlas@master
        with:
          cloud-token: ${{ secrets.INTEGRATION_ATLAS_CLOUD_TOKEN }}
      - name: "Run Migrate Lint"
        uses: ./migrate/lint
        with:
          dir: file://atlasaction/testdata/migrations
          dev-url: sqlite://dev?mode=memory
          dir-name: test-dir
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: "Run Migrate Push"
        uses: ./migrate/push
        with:
          dir: file://atlasaction/testdata/migrations
          dev-url: sqlite://dev?mode=memory
          dir-name: test-dir
  code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Use Node.js 16
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 16.x
      - name: Cache Dependencies
        uses: actions/cache@v3.0.7
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install
        run: npm i
      - name: All
        run: npm run all
      - name: check dirty
        run: git diff --quiet --exit-code
